<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxi.ads.mapper.CarSeriesMapper">
  <resultMap id="BaseResultMap" type="com.wuxi.ads.bean.CarSeries">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, brand_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_series
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from car_series
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wuxi.ads.bean.CarSeries">
    insert into car_series (id, name, brand_id
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{brandId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuxi.ads.bean.CarSeries">
    insert into car_series
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxi.ads.bean.CarSeries">
    update car_series
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxi.ads.bean.CarSeries">
    update car_series
    set name = #{name,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wuxi.ads.bean.CarSeries">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="series_name" jdbcType="VARCHAR" property="seriesName" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, series_name, brand_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_series
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_series
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuxi.ads.bean.CarSeries">
    insert into car_series (id, series_name, brand_id
      )
    values (#{id,jdbcType=INTEGER}, #{seriesName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuxi.ads.bean.CarSeries">
    insert into car_series
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="seriesName != null">
        series_name,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seriesName != null">
        #{seriesName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxi.ads.bean.CarSeries">
    update car_series
    <set>
      <if test="seriesName != null">
        series_name = #{seriesName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxi.ads.bean.CarSeries">
    update car_series
    set series_name = #{seriesName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>